{% block datalist_widget %}
    <input list="{{ id }}_list" {{ block('widget_attributes') }}>
    <datalist id="{{ id }}_list">
        {% for choice in choices %}
            <option data-value="{{ choice.id }}">{{ choice.name }}</option>
        {% endfor %}
    </datalist>
{% endblock %}
