{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets %}

    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-2">
                <h1>404</h1>
                <h2>Page not found</h2>
            </div>
            <div class="col-md-10">
                <img class="img-fluid rounded mx-auto d-block" src="{{ asset('assets/images/dummies.jpg') }}"/>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}