<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>XAXA!!!</title>
    </head>
    <body>
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div style="background-color: #ce8483; padding: 10px; color: white; font-family: arial-black">
            {{ exception.getFile() }}: {{ exception.getLine() }}
            <br>

            {{ exception.getMessage() }}
        </div>
        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>
    </body>
</html>
