{% extends "main.html.twig" %}

{% block content %}
    <div class="container">
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'form-horizontal
    fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans({},'FOSUserBundle') }}" class="btn btn-primary icon-save"/>
    </div>
    {{ form_end(form) }}
    </div>
{% endblock content %}
