<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Libereya{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-ui.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
            <link rel="stylesheet" type="text/css"
                  href="https://fonts.googleapis.com/css?family=Shrikhand"/>
        {% endstylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}"/>
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/moment.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/datetimepicker.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap-ui.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
        <script src="{{ asset('assets/js/autocompleter.min.js') }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
                integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>

<!-- Main navigation -->
<nav class="navbar navbar-static-top navbar-primary">
    <div class="container">
        <!-- Brand and menu toggle -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kssMenu">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('homepage') }}" class="navbar-brand offset-right-large" title="Libereya">LIBEREYA</a>
        </div>
        <!-- Collapsible menu -->
        <div class="collapse navbar-collapse" id="kssMenu">
            {{ knp_menu_render('AppBundle:Builder:mainMenu',{'currentClass': 'active'}) }}
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-icon">
                    <a href="{{ path('homepage') }}" target="_blank" title="Open site in a new tab">
                        <i class="fas fa-home"></i>
                        <span class="visible-xs">Home</span>
                    </a>
                </li>
                <li class="navbar-icon">
                    <a href="#" title="Settings">
                        <i class="fas fa-cog"></i>
                        <span class="visible-xs">Settings</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="My profile">
                        <span class="glyphicon glyphicon-user offset-right" aria-hidden="true"></span>
                        <span class="visible-xs-inline offset-right">My Profile</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{ path('fos_user_profile_edit') }}">
                                <span class="glyphicon glyphicon-user offset-right icon-shift-down"
                                      aria-hidden="true"></span>
                                My Account
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <span class="glyphicon glyphicon-off offset-right icon-shift-down"
                                      aria-hidden="true"></span>
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    </ul>
                </li><!-- .dropdown -->
            </ul><!-- .nav -->
        </div><!-- .collapsible -->
    </div><!-- .container -->
</nav>
{% block content %}{% endblock %}
<footer role="contentinfo" class="navbar-fixed-bottom row-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                © ForbusyApps, 2018
                <span class="footer-divider">|</span>
                <a href="#" target="_blank">Contact</a>
            </div>
            <div class="col-md-6">

            </div>
        </div><!-- .row -->
    </div><!-- .container -->
</footer>
</body>
</html>
