{% extends 'main.html.twig' %}
{% trans_default_domain "messages" %}
{% block content %}
    <main role="main" class="site-content">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="section-header-title">{{ title }}</h3>
            </div>
        </div>
        <div class="content">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.isbn) }}
                    {{ form_errors(form.isbn) }}
                    {{ form_widget(form.isbn) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(form.files) }}
                    {{ form_errors(form.files) }}
                    {{ form_widget(form.files) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form_label(form.groupName) }}
                    {{ form_errors(form.groupName) }}
                    {{ form_widget(form.groupName) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_label(form.year) }}
                    {{ form_errors(form.year) }}
                    {{ form_widget(form.year) }}
                </div>
                <div class="form-group col-md-1">
                    {{ form_label(form.price) }}
                    {{ form_errors(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <div class="form-group col-md-1">
                    {{ form_label(form.pages) }}
                    {{ form_errors(form.pages) }}
                    {{ form_widget(form.pages) }}
                </div>

                <div class="form-group col-md-4">
                    {% for file in form.vars.data.files %}
                        {{ extension(file) }}
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    {{ form_label(form.author) }}
                    {{ form_errors(form.author) }}
                    {{ form_widget(form.author) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_label(form.cover) }}
                    {{ form_errors(form.cover) }}
                    {{ form_widget(form.cover) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_label(form.publish) }}
                    {{ form_errors(form.publish) }}
                    {{ form_widget(form.publish) }}
                </div>
                <div class="form-group col-md-3">
                    {{ form_label(form.genre) }}
                    {{ form_widget(form.genre) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form_label(form.rack) }}
                    {{ form_widget(form.rack) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_label(form.condition) }}
                    {{ form_widget(form.condition) }}
                </div>

                <div class="form-group col-md-2">
                    {{ form_label(form.part) }}{{ form_widget(form.part) }}
                    of {{ form_label(form.parts) }}{{ form_widget(form.parts) }}
                </div>
                <div class="form-group col-md-4">
                    <div>{{ form_label(form.print) }}{{ form_widget(form.print) }}</div>
                    <div>
                        {{ form_label(form.illustrated) }}
                        {{ form_widget(form.illustrated) }}
                    </div>
                    <div>
                        {{ form_label(form.wish) }}
                        {{ form_widget(form.wish) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-1">
                        {{ form_widget(form.save) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </main>
    {% include 'default/modal.html.twig' %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
		$(function () {
			$('#appbundle_book_author').autocompleter({
				url_list: '/author_search',
				url_get: '/author_get/'
			});

			var modal = $('#myModal');

			modal.find('.close, .btn-secondary').on('click', function (ev) {
				modal.hide();
			});

            $('.image_content').on('click', function(e){
            	var picture = $(e.currentTarget).first().children().attr('src');
				modal.find('.modal-title').text('Picture');
				modal.find('.btn-primary').hide();
				modal.find('.modal-body').text('');
				modal.attr('width', '500px');
				$('<img/>', {src: picture, width: '450px'}).appendTo(modal.find('.modal-body'));
				modal.show();
            });

			$('*[data-target="#myModal"]').on('click', function (e) {
				var id = $(e.currentTarget).data('id'); // Button that triggered the modal
				modal.find('.modal-title').text('Are you sure?');
				modal.find('.modal-body').text('You going to delete file!');
				modal.find('.btn-primary').show().data('source', id);

				modal.find('.btn-primary').on('click', function (event) {
					var id = modal.find('.btn-primary').data('source');
					$.ajax({
						method: "POST",
						url: '/delete-file',
						data: {id: id},
						success: function (data) {
							$('.file_' + id).remove();
							modal.hide();
						},
						fail: function (err) {
							console.log("error" + err);
							modal.hide();
						}
					});
				});

				modal.show();
			});
		});
    </script>
{% endblock %}