{% extends 'main.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/datatables.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/featherlight.min.css') }}">
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-sm-8">
            <h3 class="section-header-title">{{ title }}</h3>
        </div>

        <div class="col-sm-4">
            <a href="{{ path(model~'_new') }}" class="btn btn-primary btn-raised cta">
                <span class="glyphicon glyphicon-plus-sign offset-right" aria-hidden="true"></span>
                New {{ model|upper }}
            </a>
        </div>
    </div>
    <div class="datatable">
        {{ sg_datatables_render(datatable) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/featherlight.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        console.log('321');
    </script>
{% endblock %}