{% extends 'main.html.twig' %}
{% block content %}
    <main role="main" class="site-content">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="section-header-title">{{ title }}</h3>
            </div>

            <div class="col-sm-4">
                <a href="{{ path(model~'_new') }}" class="btn btn-primary btn-raised cta">
                    <span class="glyphicon glyphicon-plus-sign offset-right" aria-hidden="true"></span>
                    New {{ model|upper }}
                </a>
            </div>
        </div>

        <div class="row">
            {% if model == 'rack' %}
                {% set width = '50%' %}
            {% else %}
                {% set width = '100%' %}
            {% endif %}
            <div class="center-block" style="width: {{ width }}">
                <table id="racks-table" class="table" style="width: 100%;">
                    <thead class="thead">
                    <tr>
                        {% for field in fields %}
                            <th scope="row">{% set label = 'general.'~field %}{{ label|trans }}</th>
                        {% endfor %}
                        {% if model == 'rack' %}
                            {% set width = '35%' %}
                        {% else %}
                            {% set width = '10%' %}
                        {% endif %}
                        <th scope="row" width="{{ width }}">{{ 'general.actions'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    {% if error %}
                        <div class="text-danger">{{ error }}</div>
                    {% endif %}
                    {% for entity in entities %}
                        <tr>
                            {% for field in fields %}
                                <td>{{ attribute(entity, field) }}</td>
                            {% endfor %}
                            <td>
                                {% if 'edit' in actions %}
                                    <a href="{{ path(model~'_edit', {'id': entity.id}) }}"
                                       class="btn btn-primary btn-raised cta"><span
                                                class="glyphicon glyphicon-pencil offset-right"
                                                aria-hidden="true"></span>{{ 'general.edit'|trans }}</a>
                                {% endif %}
                                {% if 'books' in actions %}
                                    <a href="{{ path('book_index', {'rack': entity.id}) }}" class="btn btn-primary btn-raised cta"><span
                                                class="glyphicon glyphicon-book offset-right"
                                                aria-hidden="true"></span>{{ 'general.books'|trans }}</a>
                                {% endif %}
                                {% if 'delete' in actions %}
                                    <a class="btn btn-primary btn-raised cta" data-toggle="confirmation"
                                       href="{{ path(model~'_delete', {'id': entity.id}) }}"><span
                                                class="glyphicon glyphicon-trash offset-right"
                                                aria-hidden="true"></span>{{ 'general.delete'|trans }}</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    {% if not entities %}
                        <tr>
                            <td align="center" colspan="{{ fields|length+1 }}">{{ 'general.no_records_found'|trans }}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}