{% extends 'main.html.twig' %}

{% block content %}
    <main role="main" class="site-content">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="section-header-title">{{ title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="center-block" style="width: 300px">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary icon-save">
                    <span class="glyphicon glyphicon-floppy-disk"></span> {% set label = 'general.'~btn_msg %}{{ label|trans }}
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </main>

    <script>
        $('#appbundle_book_author').autocompleter({
            url_list: '/author_search',
            url_get: '/author_get/'
        });
    </script>
{% endblock %}

