{% extends 'main.html.twig' %}

{% block content %}
    <main role="main" class="site-content">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="section-header-title">{{ title }}</h3>
            </div>
        </div>
        <div class="row">
            <table>
                <tbody>
                {% for field in fields %}
                    <tr>
                        <th>{% set label = 'general.'~field %}{{ label|trans|capitalize }}</th>
                        <td>{% set val = attribute(entity, field) %}{{ val }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ form_start(edit_form) }}
            <input type="submit" class="btn" value="edit">
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <input type="submit" class="btn" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </main>
{% endblock %}
