{% extends "base.html.twig" %}

{% block stylesheets %}
    {% stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card card-container">
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
            <div>
                <a href="/">{{'registration.ok'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock content %}
