{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
    {% endstylesheets %}
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <div class="card card-container">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
                <p><a href="{{ path('homepage') }}">{{ 'registration.back'|trans }}</a></p>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        setTimeout(function() { window.location.href = '{{ path("homepage") }}'; }, 7000);
    </script>
{% endblock %}