{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="card card-container">
    {{ include("FOSUserBundle:Registration:registerContent.html.twig", ignore_missing=true) }}
    </div>
</div>
{% endblock content %}