{% block content %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" class="btn btn-signin" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
{% endblock %}