{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus name="_username" />
                <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" required minlength="3" />
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me" value="on"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <div class="forgot-password">
                <a href="{{ path("fos_user_resetting_request") }}">
                    Forgot the password?
                </a>
            </div>
            <div class="register">
                <a href="{{ path("register") }}">
                    Register
                </a>
            </div>
        </div>
    </div>
{% endblock %}
