{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    {% stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card card-container">
            <p>
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
            </p>
            <a href="{{ path("homepage") }}">
                {{ 'general.home'|trans({},'messages') }}
            </a>
        </div>
    </div>
{% endblock %}
