{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
    {% stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>
    {% endstylesheets %}
{% endblock %}

<div class="container">
    <div class="card card-container">
        <h3>{{ 'resetting.request.submit'|trans }}</h3>
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div>
                <input type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}"/>
            </div>
            <div>
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
                       value="{{ 'resetting.request.submit'|trans }}"/>
            </div>
        </form>
    </div>
</div>
