{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="card card-container">
        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        {{ form_widget(form) }}
        <div>
            <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit" value="{{ 'resetting.reset.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>