{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login.min.css') }}"/>
{% endblock %}

{% block content %}
    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock content %}
