html, body {
    height: 100%;
}

main {
    min-height: calc(100vh - 115px);
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-brand {
    font-family: 'Shrikhand', serif;
    font-size: 48px;
}

.navbar-nav {
    flex-direction: row;
}

.navbar {
    display: block;
    font-size: 1.7em;
    margin-bottom: 2em;
}

.navbar > .container,
.navbar > .container-fluid {
    display: block;
}

.container > .navbar-header {
    margin-left: -25px;
    margin-top: -10px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    top: 32px;
}

.footer {
    padding-top: 2px;
    padding-bottom: 3px;
}

.btn-primary {
    color: #fff;
    background-color: #00778b;
    border-color: #006172;
}

#racks-table td {
    font-size: 20px;
    line-height: 120%;
}

#racks-table th {
    background-color: #00778b;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

div.datatable {
    padding-left: 20px;
    padding-right: 20px;
}

table.dataTable thead tr {
    background-color: #00778b;
    color: #fff;
}

table.dataTable thead tr th {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media (min-width: 768px) {
    #racks-table td, th {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .row {
        margin-bottom: 15px;
    }
}

.image_container {
    margin-left: 5px;
    margin-bottom: 7px;
    display: inline-grid;
    color: white;
}

.file_header a{
    color: white;
    float: right;
}

.file_header {
    height: 20px;
    background-color: #004b58;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
}

.img_header {
    width: 62px;
}

.image_content {
    border: 1px solid #2b669a;
    width: 62px;
    cursor: pointer;
}

.container {
    padding-left: 0;
}

.file_link {
    border: 1px solid #004b58;
    padding: 3px;
}

.row {
    display: contents;
}