/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
	background-color: #ccc;
	height: 100%;
	background-repeat: no-repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card-container.card {
	max-width: 350px;
	padding: 40px 20px;
}

.btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	color: white;
}

/*
 * Card component
 */
.card {
	background-color: #F7F7F7;
	/* just in case there no content*/
	padding: 20px 25px 30px;
	margin: 0 auto 25px;
	margin-top: 50px;
	/* shadows and rounded borders */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
	width: 120px;
	height: 120px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin input[type=password],
.form-signin input[type=email],
.fos_user_registration_register input[type=email],
.fos_user_registration_register input[type=text],
.fos_user_registration_register input[type=password],
.fos_user_registration_register select,
.fos_user_resetting_request #username,
.fos_user_resetting_reset #fos_user_resetting_form_plainPassword_first,
.fos_user_resetting_reset #fos_user_resetting_form_plainPassword_second,
.fos_user_resetting_request input[type=text]
{
	direction: ltr;
	height: 44px;
	font-size: 14px;
	width: 100%;
	padding-left: 10px;
	margin-bottom: 10px;
	background-color: rgb(250, 255, 189);
	border-width: 1px;
	border-color: lightgray;
	border-style: solid;
	border-radius: 4px;
}

.form-signin input[type=password],
.form-signin input[type=email],
.fos_user_registration_register input[type=email],
.fos_user_registration_register input[type=text],
.fos_user_registration_register input[type=password],
.fos_user_registration_register select,
.fos_user_resetting_request #username,
.fos_user_resetting_reset #fos_user_resetting_form_plainPassword_first,
.fos_user_resetting_request input[type=text]
{
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 14px;
	padding-left: 10px;
	height: 44px;
}

/*.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}*/

.btn.btn-signin {
	/*background-color: #4d90fe; */
	background-color: rgb(104, 145, 162);
	/* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
	padding: 0px;
	font-weight: 700;
	font-size: 14px;
	height: 36px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
	width: 100%;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
	/*background-color: #99b3ff;*/
	cursor: pointer;
}

.forgot-password {
	display:block;
	position: relative;
	float: left;
	margin-top: 10px;
}

.forgot-password a, .register a{
	color: #5e5e5e;
}

.forgot-password:hover, .register:hover,
.forgot-password:active, .register:active,
.forgot-password:focus, .register:focus{
	color: #99b3ff;
}

#remember {
	margin-bottom: 20px;
}

.register{
	float: right;
	display:block;
	position: relative;
	margin-top: 10px;
}