<div class="image_container file_{{ file_id }}">
    <div class="file_header {% if is_image %} img_header {% endif %}">
        <a href="#" data-target="#myModal" data-id="{{ file_id }}">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
    </div>
    {% if is_image %}
        <div class="image_content">
            <img width="60px" src="{{ '/uploads/'~file_name }}"/>
        </div>
    {% else %}
        <a class="file_link" href="{{ '/uploads/'~file_name }}">{{ original_name }}</a>
    {% endif %}
</div>